beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
PySide6==6.8.2.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
RapidFuzz==3.12.2
requests==2.32.3
shiboken6==6.8.2.1
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.3.0
